.map{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.description{
    max-width: 50%;
    font-family:'Zen Maru Gothic', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.description span{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}  