.category-title{
    color: rgb(62, 62, 62);
   font-size: 60px;
   font-family: 'Lexend Peta', sans-serif;
   margin-top: 30px;
}
.category-section{
   padding-top: 900px;
}
.category-image{
   width: 100%;
}